.App {
    background-image: url("/crossline-lines.png");
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1 minmax(auto, 800px) 1;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
}

body {
  background-image: url("/crossline-lines.png");
}
