
.Project-board {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Project-card {
  background: white;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-family: "Courier";
  max-width: 150px;
}

.Project-CardActions > div {
  display: inline-block;
  position: absolute;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

.Project-CardActions > div:first-child {
  right: 10px;
}

.Project-CardActions > div:last-child {
  left: 10px;
}

.starEmpty {
  width: 20px;
}

.starFilled {
  width: 20px;
}

.Project {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-column-gap: 5px;

  
}

.right-arrow-btn {
  background-color: white;
  font-size: 18pt;
  padding-bottom: 895px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  height: 1000px;
  outline: none;

}

.menu-btn {
    padding-top: 10px;
}