
.Project {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}
.Project-board {
  background-image: url("/crossline-lines.png");
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Project-card {
  background: white;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin: 10px;
  position: relative;
  font-family: "Courier";
  max-width: 150px;
}

.Project-CardActions > div {
  display: inline-block;
  position: absolute;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

.Project-CardActions > div:first-child {
  right: 10px;
}

.Project-CardActions > div:last-child {
  left: 10px;
}

.starEmpty {
  width: 20px;
}

.starFilled {
  width: 20px;
}

.ProjectNavBar {
  max height: 186px; 
}
