.ProjectSelector {
    /* grid-column: 1;
    grid-row: 2; */
    background: rgb(255, 255, 255);
    padding-top: 10px;
    color: rgb(133, 122, 115);
    user-select: none;
    width: 200px;
    height: 1000px;
    transition: 1.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.collapse-left-btn {
    display: inline-block;
    padding-left: 25px;
}

.ProjectSelector-projectHeader {
    font-size: 18pt;
    font-family: georgia;
    padding: 10px;
    margin-top: 20px;
    background: black;
    color: white;
    -webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

.ProjectSelector-projectHeader:hover {
    opacity: 0.8;
}

.ProjectSelector-project {
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 

    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

.ProjectSelector-project:hover {
    background: #01cccc;
    color: white;
}

.ProjectSelector-project--selected {
    background: #01cccc;
    color: white;
}
