.AddCard input,
.AddCard textarea,
.AddCard button {
  font-size: 14pt;
  background: none;
  color: white;
  padding: 10px;
  width: 100%;
  display: block;
  border: 2px solid white;
}

.AddCard button {
  color: black;
  background: #61dafb;
}
