
.TopNav-navigation {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    align-items: center;
    padding: 10px;
    color: white;
}


.TopNav-navigation h1 {
    font-size: 36pt;
    margin: 10px;
}

.TopNav-title {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 2em;
    font-style: italic;
    font: georgia;
    text-shadow: 1px 1px 1px #000;
    text-shadow: -3px 3px 2px #000,
                 -8px 6px 0px #01cccc,
                 -10px 10px 0px white;

}

.nav-btns {
    margin-top: 20px;
}


.TopNav-navigation a {
    padding-right: 50px;
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
    margin: 20px;
   
}




