.LandingPage {
  text-align: center;
  padding-left: 100px;
}

.LandingPage-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.LandingPage a {
  color: #01c0c0;
}

a:active {
  color: black;
}

img:hover {
  transform: perspective(500px) translate3d(10px, 0, 0px);
  filter: hue-rotate(100deg);
  animation-name: bounce-4;
  animation-timing-function: ease;
}

@keyframes bounce-4 {
      0%   { transform: scale(1,1)    translateY(0); }
      10%  { transform: scale(1.1,.9) translateY(0); }
      30%  { transform: scale(.9,1.1) translateY(-100px); }
      50%  { transform: scale(1,1)    translateY(0); }
      100% { transform: scale(1,1)    translateY(0); }
  }
