.LandingPage {
  text-align: left;
  padding-left: 100px;
}

.LandingPage-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

}

.LandingPage a {
  color: #01c0c0;
}

a:active {
  color: black;
}
