.NewProject {
  padding-left: 450px;
  padding-top: 50px;
}

.NewProject input {
  background-color: white;

  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14pt;
  color: black;
  border: 1px dashed;
}

.NewProject input.projectname {
  padding-left: 20px;
}


.NewProject button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14pt;
  width: 300px;
  color: black;
  background: #01cccc;
  border: 2px dashed;
  display: block;
  padding: 5px;
  outline: none;
}

button:active {
  background-color: white;
}

input {
  text-align: center;
}
