.NewProject input {
  background-color: white;
  
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14pt;
  color: black;
  border: 3px dashed;
}

.NewProject input.projectname {
  padding-left: 20px;
}


/* .NewProject textarea {
  background-color: white;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 11pt;
  color: rgb(36, 35, 35);
} */



.NewProject button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14pt;
  width: 300px;
  color: black;
  background: #01cccc;
  border: 5px dashed;
  display: block;
  padding: 10px;
  outline: none;
}
